---
---

<section id="two">
    <h2>Acerca de Mi</h2>
    <p>
        Soy un desarrollador web apasionado por crear 
        soluciones innovadoras y eficientes. 
        Me especializo en tecnologías modernas como React, 
        Node.js y Astro para construir aplicaciones web dinámicas 
        y atractivas.
    </p>
</section>