---
import AboutSection from "./AboutSection.astro"
import InfoSection from "./InfoSection.astro"
import ProjectsSection from "./ProjectsSection.astro"
import ContactSection from "./ContactSection.astro"
---

<main id="main">
    <InfoSection />
    <AboutSection />
    <ProjectsSection />
    <ContactSection />
</main>