---
---

<section id="four">
	<h2>Mis proyectos</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href="public/images/travesia.png" class="image fit thumb"><img src={`${import.meta.env.BASE_URL}images/travesia.png`} alt=""></a>
			<h3>TravesiaMexa</h3>
			<p>Una plataforma de donde puedes compartir tus viajes con otros.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="public/images/zeruh.png" class="image fit thumb"><img src={`${import.meta.env.BASE_URL}images/zeruh.png`} alt=""></a>
			<h3>Zeruh</h3>
			<p>Una app para gestionar food-trucks y para las personas que usan los comedores comunitarios.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="public/images/geomap.png" class="image fit thumb"><img src={`${import.meta.env.BASE_URL}images/geomap.png`} alt="" /></a>
			<h3>GeoMap</h3>
			<p>Asistente inteligente de diagnóstico catastral.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="public/images/icon.png" class="image fit thumb"><img src={`${import.meta.env.BASE_URL}images/icon.png`} alt="" /></a>
			<h3>Kaanbal</h3>
			<p>Una plataforma educativa que genera su contenido dinámico con el uso de la inteligencia artificial.</p>
		</article>
	</div>
</section>