---
---

<section>
  <h2>Redes sociales</h2>
    <ul class="social-icons">
        <li><a href="https://twitter.com/" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.linkedin.com/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <p>&copy; Untitled. All rights reserved.</p>
</section>