---
import Footer from './Footer.astro';
---

<header id="header">
	<div class="inner">
	    <a href="./images/img.png" class="image avatar"><img src="./images/img.png" alt="Avatar" /></a>
	    <h1>Hola Soy Jose Alonso<br />Desarrollador Web</h1>
        <p>Bienvenido a mi sitio web personal</p>
	
	</div>
</header>