---
---

<section id="one">
  <header>
    <h2>Perfil profesional</h2>
    <p>
      Estudiante de undécimo cuatrimestre de la carrera de Ingeniería en Gestión y 
      Desarrollo de Software en proceso de titulación.
      Me destaco por mi organización y responsabilidad en el cumplimiento de mis tareas,
      así como por mi capacidad para trabajar en equipo y adaptarme a nuevos entornos.
      Poseeo conocimientos en programación web, bases de datos y desarrollo de software, migración de datos,
      así como habilidades en análisis y resolución de problemas.
    </p>
  </header>
</section>