---
---

<section id="two">
	<h2>Mis proyectos</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href="/formulario-contacto/public/images/logo.png" class="image fit thumb"><img src="/formulario-contacto/public/images/logo.png" alt="" /></a>
			<h3>TravesiaMexa</h3>
			<p>Una plataforma de donde puedes compartir tus viajes con otros.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="/formulario-contacto/public/images/logo.png" class="image fit thumb"><img src="/formulario-contacto/public/images/logo.png" alt="" /></a>
			<h3>MicroInfo</h3>
			<p>Una app que te permite saber horarios del transporte publico.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="/formulario-contacto/public/images/logo.png" class="image fit thumb"><img src="/formulario-contacto/public/images/logo.png" alt="" /></a>
			<h3>Tortor metus commodo</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href="/formulario-contacto/public/images/logo.png" class="image fit thumb"><img src="/formulario-contacto/public/images/logo.png" alt="" /></a>
			<h3>Quam neque phasellus</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
	</div>
</section>